<div class='login-component'>
    <h2 class="login-title">Sign in</h2>
    <form [formGroup]="formGroup" class='login-form'>
        <mat-form-field appearance="outline">
            <mat-label>{{literals.user}}</mat-label>
            <input matInput placeholder="{{literals.user}}" formControlName="username">
            <mat-error
                *ngIf="formGroup.get('username').invalid && (formGroup.get('username').dirty || formGroup.get('username').touched)">
                {{utils.getMatErrorMessage(formGroup.get("username"), errorLiterals['username'])}}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>{{literals.password}}</mat-label>
            <input matInput placeholder="{{literals.password}}" type="password" formControlName="password">
            <mat-error
                *ngIf="formGroup.get('password').invalid && (formGroup.get('password').dirty || formGroup.get('password').touched)">
                {{utils.getMatErrorMessage(formGroup.get("password"), errorLiterals['password'])}}
            </mat-error>
        </mat-form-field>
        <button matButton (click)="login($event)" [disabled]="formGroup.invalid">Send</button>
    </form>
</div>